[submodule ".dotfiles/utilities"]
	path = .dotfiles/utilities
	url = https://github.com/nicholasadamou/utilities
[submodule "set-me-up-installer"]
	path = set-me-up-installer
	url = https://github.com/nicholasadamou/set-me-up-installer
