[submodule "dotfiles/utilities"]
path = dotfiles/utilities
url = https://github.com/dotbrains/utilities
[submodule "set-me-up-installer"]
path = set-me-up-installer
url = https://github.com/dotbrains/set-me-up-installer
[submodule "dotfiles/modules/universal"]
path = dotfiles/modules/universal
url = https://github.com/dotbrains/set-me-up-universal-modules
[submodule "dotfiles/modules/macos/macports"]
	path = dotfiles/modules/macos/macports
	url = https://github.com/dotbrains/macports-module
[submodule "dotfiles/modules/macos/xcode"]
	path = dotfiles/modules/macos/xcode
	url = https://github.com/dotbrains/xcode-module
[submodule "dotfiles/modules/preferences"]
	path = dotfiles/modules/preferences
	url = https://github.com/dotbrains/preferences-module
